<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ace_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>ace_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,505},{422,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{422,490}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,997},{422,484}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{422,484}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,505},{422,450}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{422,450}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{420,448}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{420,448}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1483},{422,454}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,37},{422,454}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,957},{422,442}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,49},{422,442}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_frm_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1401},{422,372}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,120},{422,372}}</string>
                <key>sourceSize</key>
                <string>{428,492}</string>
            </dict>
            <key>ace_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>caveman_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>coin1_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2014},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>corpsegirl_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,342},{256,332}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{256,332}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>drunkjoe_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1165},{234,306}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,97},{234,306}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>evilchild_arm_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1023},{267,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,135}}</string>
                <key>sourceSize</key>
                <string>{267,135}</string>
            </dict>
            <key>evilchild_arm_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2557,651},{267,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{267,129}}</string>
                <key>sourceSize</key>
                <string>{267,135}</string>
            </dict>
            <key>evilchild_arm_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2401,998},{267,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{267,129}}</string>
                <key>sourceSize</key>
                <string>{267,135}</string>
            </dict>
            <key>evilchild_arm_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,1394},{267,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{267,129}}</string>
                <key>sourceSize</key>
                <string>{267,135}</string>
            </dict>
            <key>evilchild_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,810},{180,352}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,4},{180,352}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,2},{160,340}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,16},{160,340}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1401},{154,350}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{154,350}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1400},{170,344}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{170,344}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,452},{224,356}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{224,356}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2531,2},{240,268}}</string>
                <key>offset</key>
                <string>{31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,94},{240,268}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_frm_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,1663},{262,218}}</string>
                <key>offset</key>
                <string>{-20,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{262,218}}</string>
                <key>sourceSize</key>
                <string>{302,362}</string>
            </dict>
            <key>evilchild_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2049,2},{256,332}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{256,332}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>godofbass_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1825},{220,338}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,57},{220,338}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>laxe_arm_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2688,651},{248,192}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{248,192}}</string>
                <key>sourceSize</key>
                <string>{284,242}</string>
            </dict>
            <key>laxe_arm_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2773,2},{242,194}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{242,194}}</string>
                <key>sourceSize</key>
                <string>{284,242}</string>
            </dict>
            <key>laxe_arm_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1160},{236,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{236,194}}</string>
                <key>sourceSize</key>
                <string>{284,242}</string>
            </dict>
            <key>laxe_arm_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1164},{234,194}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{234,194}}</string>
                <key>sourceSize</key>
                <string>{284,242}</string>
            </dict>
            <key>laxe_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2512,1835},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>laxe_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2592,1380},{194,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{194,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>laxe_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2512,1633},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>laxe_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2670,920},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>laxe_frm_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2697,272},{242,242}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{284,242}</string>
            </dict>
            <key>laxe_frm_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2542,1129},{249,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,243}}</string>
                <key>sourceSize</key>
                <string>{249,243}</string>
            </dict>
            <key>laxe_frm_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2299,1388},{251,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,169}}</string>
                <key>sourceSize</key>
                <string>{251,169}</string>
            </dict>
            <key>laxe_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1165},{234,306}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,97},{234,306}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>monk_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>powerwoman_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2079,676},{256,332}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{256,332}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>rash_arm_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2388,1641},{250,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,122}}</string>
                <key>sourceSize</key>
                <string>{250,124}</string>
            </dict>
            <key>rash_arm_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2470,1381},{250,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,120}}</string>
                <key>sourceSize</key>
                <string>{250,124}</string>
            </dict>
            <key>rash_arm_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1040},{250,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,122}}</string>
                <key>sourceSize</key>
                <string>{250,124}</string>
            </dict>
            <key>rash_arm_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2416,1129},{250,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,124}}</string>
                <key>sourceSize</key>
                <string>{250,124}</string>
            </dict>
            <key>rash_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2307,2},{222,332}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{222,332}}</string>
                <key>sourceSize</key>
                <string>{250,332}</string>
            </dict>
            <key>rash_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2337,670},{218,326}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{218,326}}</string>
                <key>sourceSize</key>
                <string>{250,332}</string>
            </dict>
            <key>rash_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1728},{204,318}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{204,318}}</string>
                <key>sourceSize</key>
                <string>{250,332}</string>
            </dict>
            <key>rash_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1398},{216,328}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{216,328}}</string>
                <key>sourceSize</key>
                <string>{250,332}</string>
            </dict>
            <key>rash_frm_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,684},{209,337}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,5},{209,337}}</string>
                <key>sourceSize</key>
                <string>{353,387}</string>
            </dict>
            <key>rash_frm_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1748},{281,241}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,102},{281,241}}</string>
                <key>sourceSize</key>
                <string>{353,387}</string>
            </dict>
            <key>rash_frm_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{353,189}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,198},{353,189}}</string>
                <key>sourceSize</key>
                <string>{353,387}</string>
            </dict>
            <key>rash_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2172,336},{256,332}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,61},{256,332}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>ruber_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>scotch_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,344},{220,338}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{220,338}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>twinviking_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{432,501}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{432,501}}</string>
                <key>sourceSize</key>
                <string>{496,547}</string>
            </dict>
            <key>unholypriest_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1825},{220,338}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,57},{220,338}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>valkyria_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1165},{234,306}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,97},{234,306}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>warmachine_arm_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2272,1154},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>warmachine_arm_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,1010},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>warmachine_arm_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2128,1160},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>warmachine_arm_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1164},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>warmachine_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{180,355}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{180,355}}</string>
                <key>sourceSize</key>
                <string>{232,375}</string>
            </dict>
            <key>warmachine_frm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1401},{188,345}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{188,345}}</string>
                <key>sourceSize</key>
                <string>{232,375}</string>
            </dict>
            <key>warmachine_frm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,357},{180,341}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{180,341}}</string>
                <key>sourceSize</key>
                <string>{232,375}</string>
            </dict>
            <key>warmachine_frm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,810},{178,353}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{178,353}}</string>
                <key>sourceSize</key>
                <string>{232,375}</string>
            </dict>
            <key>warmachine_frm_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1401},{196,375}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{196,375}}</string>
                <key>sourceSize</key>
                <string>{232,375}</string>
            </dict>
            <key>warmachine_frm_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2430,336},{265,313}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,313}}</string>
                <key>sourceSize</key>
                <string>{267,313}</string>
            </dict>
            <key>warmachine_frm_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1753},{293,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,177}}</string>
                <key>sourceSize</key>
                <string>{293,177}</string>
            </dict>
            <key>warmachine_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,2},{220,338}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{220,338}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>wizzard_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1165},{234,306}}</string>
                <key>offset</key>
                <string>{29,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,97},{234,306}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
            <key>yergh_str_frm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,700},{220,338}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{220,338}}</string>
                <key>sourceSize</key>
                <string>{300,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroSheetNew.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3d5f355a890bff716c170154f3712ab$</string>
            <key>textureFileName</key>
            <string>heroSheetNew.png</string>
        </dict>
    </dict>
</plist>
